.calculatorContainer {
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  max-width: 212.5px;
  gap: 5px;
}

.displayContainer {
  display: flex;
  flex-direction: row;
}

.buttonContainer {
  gap: 2.5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 2.5px 2.5px 2.5px;
}